html, body{
    font-size: 20px;
    font-family:'Work Sans', sans-serif;
    overflow-x: hidden;   
}


/* tampilan desktop */

/* navbar */
.navbar{
    background-color: white;
}
.navbar-brand img{
    width: 260px;
    margin-left: 1rem;

}

.navbar-nav{
    padding-right: 5rem;
    font-size: 18px;
    font-family: arial,Arial, Helvetica, sans-serif;
}
.navbar-nav a{
    color: rgb(73, 73, 64);
    font-weight:500;

}

.navbar-nav a:hover{
  color: rgb(9, 102, 242);
  background-color: rgba(141, 130, 130, 0.115);
  border-radius: 5px;
}

.nav-link.active {
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(70, 57, 57, 0.464);
  background: linear-gradient(45deg, #f1025e91, #1466d191, #0cbb6a8e, rgba(255, 234, 0, 0.557));
  animation: background-color 5s ease infinite;
  background-size: 400% 400%;
  color: rgb(0, 0, 0);
}
@keyframes background-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* akhir navbar */

/* teks berjalan */

/* akhir teks berjalan */

/* jumbotron */
.jumbotron{
    padding-top: 10rem;
    min-height:500px;
    background-image: url("img/bg-jumbotron/bg3.png");
    background-size:cover;
    background-attachment:fixed;
    background-position: 0px -4rem;
    color: white;
    padding-left: 3rem;
}
.jumbotron h2{
  font-size: 40px;
  font-family:'work sans', sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}
.jumbotron h1{
  padding:0px;
  font-size: 85px;
  font-family: 'Mitr', sans-serif;
  margin-bottom: 0;
  background: linear-gradient(to right, #2e35f6, #fc0303, #0634b3);
  background-clip: text;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;
}

.jumbotron p{
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'work sans', sans-serif;
    font-weight: 300;
}

/* .media_mandiri{
    color:rgb(12, 22, 139);
}
.citra{
    color: rgb(198, 8, 8);
} */

/* akhir jumbotron */



/* tentang */
#tentang .container{
    min-height: 600px;
    padding-top: 2rem;
}

#tentang .container h2{
  font-weight: bold;
  
  
}
#tentang p{
  font-family: 'work sans', sans-serif;
  text-align: justify;
  padding-top: 1.5rem;
}

#tentang ol li {
  padding-top: 10px;
  font-family: 'work sans', sans-serif;
}
#tentang h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.tentang h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

 .tentang h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.tentang h3{
  font-weight: bold;
}
/* motto */
.motto{
  font-family: 'Mitr', sans-serif;
  animation: glitch 10s infinite;
}

/* Animasi glitch atau rusak */
@keyframes glitch{
  0% {
    transform: none;
    clip-path: inset(0 100% 0 0);
    filter: hue-rotate(0deg);
  }

  5% {
    transform: skew(-5deg);
    clip-path: inset(0 70% 0 0);
    filter: hue-rotate(360deg);
  }

  10% {
    transform: none;
    clip-path: inset(0 100% 0 0);
    filter: hue-rotate(0deg);
  }

  30% {
    transform: skew(5deg);
    clip-path: inset(0 50% 0 0);
    filter: hue-rotate(180deg);
  }

  35% {
    transform: none;
    clip-path: inset(0 100% 0 0);
    filter: hue-rotate(0deg);
  }

  55% {
    transform: skew(-5deg);
    clip-path: inset(0 30% 0 0);
    filter: hue-rotate(90deg);
  }

  60% {
    transform: none;
    clip-path: inset(0 100% 0 0);
    filter: hue-rotate(0deg);
  }

  80% {
    transform: skew(5deg);
    clip-path: inset(0 10% 0 0);
    filter: hue-rotate(270deg);
  }

  85% {
    transform: none;
    clip-path: inset(0 100% 0 0);
    filter: hue-rotate(0deg);
  }

  100% {
    transform: skew(-5deg);
    clip-path: inset(0 0 0 0);
    filter: hue-rotate(360deg);
  }
}

/* akhir motto */

/* akhir tentang */




/* --------------------------------------------------------- */


/* kursus */
#kursus .container{
  min-height: 130rem;
  padding-top: 6rem;
}

#kursus .container h2{
  font-weight: bold;
}
#kursus h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#kursus h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

 #kursus h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}


#kursus .card{
  height: 595px;
  box-shadow: 0px 0px 10px #5e5c5c;
  overflow: hidden;
}

#kursus .card p{
  font-size: 16px;
  font-family: 'work sans', sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
  
}

#kursus .btn-kursus-card{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  cursor: default;
  border: none;
  border-radius: 6px;
  text-decoration:none;
  padding: 5px;
  
}


.card_1 .btn-kursus-card{
    background-color: rgb(73, 93, 185);
    color: white;
    font-weight: 500;
}


.card_2 .btn-kursus-card{
    background-color: rgb(15, 126, 72);
    color: white;
    font-weight: 500;
}

.card_3 .btn-kursus-card{
    background-color: rgb(209, 86, 33);
    color: white;
    font-weight: 500;
}

.card_4 .btn-kursus-card{
    background-color: #363d3f;
    color: white;
    font-weight: 500;
    text-align: center;
}

#kursus h4{
  font-family: 'work sans', sans-serif;
}


#kursus .card.card_4{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 400px;
}

#kursus .card.card_4 .card-header{
  background: linear-gradient(45deg, #db0f5d, #1466d1, #1b6a45, rgb(255, 72, 0));
  animation: background-color 5s ease infinite;
  background-size: 400% 400%;
  color: rgb(0, 0, 0);
}
@keyframes background-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#kursus .card.card_4 .card-body{
  background-image: url("img/program_kursus/bg_card4.jpg");
  background-size: cover;
}

/* table */
table{
  border-radius: 10px;
  border: solid 1px rgb(58, 56, 56);
  font-family: arial;
  
}
thead tr{
  background-color: #f09323;
}
tbody tr{ 
background-color: #ffffff;
}
/* akhir table */

/* btn kursus-page.html */
#kursus .to-kursus-page{
  position: absolute;
  margin-top: 30px;
}

#kursus .btn-kursus-page{
  position: relative;
  margin-top: 20px;
  left: 58rem;
  text-decoration: none;
  background-color: rgb(99, 99, 202);
  padding: 5px;
  border-radius:5px;
  color: white;
  box-shadow: 0 0 5px rgb(76, 69, 69);
}

#kursus .btn-kursus-page:hover{
  box-shadow: 0 0 10px black;
}
/* akhir btn kursus-page.html */

/* jumbotron kursus */
.jumbotron-kursus{
  margin-top: 100px;
  padding: 100px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  background: linear-gradient(45deg, #352f2f, #3781f9,rgb(255, 6, 6));
  animation: background-color 10s ease infinite;
  background-size: 400% 400%;
}
@keyframes background-color {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.jumbotron-kursus h1{
  font-weight: 800;
  font-size: 70px;
  color: rgb(234, 255, 0);
}

.jumbotron-kursus p{
  font-size: 22px;
}

.jumbotron-kursus-jumbotron{
  transition: all 5s ease-in-out;
}

.btn-kursus-jumbotron:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(112, 107, 107, 0.643);
}
/* akhir jumbotron kursus */

/* teks berjalan */
.text-berjalan{
  background: linear-gradient(to right, rgb(221, 255, 2), rgb(223, 184, 11), rgb(200, 134, 11) );
  padding: 25px;
  margin: 5px;
  border-radius: 10px;
  font-weight: bold;
  font-family: 'work sans', sans-serif;
  font-size: 24px;
}
/* akhir teks berjalan */


/* akhir kursus */

/* ------------------------------------------------------------------------------*/



/* testimoni */

#testimoni{
  min-height: 500px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  background-image: url("img/testimoni/bg4.png");
  background-size: cover;
  background-attachment:fixed;
  backdrop-filter: blur(5px);
}


#testimoni .container h2 {
  font-weight: bold;
  font-family: 'work sans', sans-serif;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: white;
}

#testimoni .container h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

 #testimoni .container h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}



/* style testimoni carousel */
#testimoni .testimoni-img{
  margin:0 1em 0 1em;
  border-radius:100%;
  width:150px;
}

#testimoni .carousel-item{
  transition: all 0.8s ease-in-out;
}
#testimoni .carousel-item h4{
  font-size: 22px;
  line-height: 1.375em;
  width: auto;
  color: white;
  font-weight:500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: middle;
  margin: 70px 0;
}

#testimoni .carousel-item span{
  font-weight: bold;
}

#testimoni .carousel-indicators button{
  background-color: rgba(104, 59, 59, 0.653);
  border-radius: 100%;
  height: 12px;
  width: 15px; 
}
#testimoni .carousel-indicators .active{
  background-color: rgb(17, 2, 2);
}


.btn-testimoni{
  position: absolute;
  font-size: 18px;
  right: 14px;
  bottom: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: solid 1px rgb(143, 135, 135);
  background-color: rgba(9, 9, 9, 0.692);
  border-radius: 6px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-testimoni:hover{
  color: white ;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgb(70, 71, 74);
  
}



/* akhir testimoni carousel */

/* testimoni-page.html  */


#tulis-testimoni{
  left: 30%;
  position: relative;
  justify-content: center;
}
#tulis-testimoni label{
  text-align: start;
  font-size: 26px;
  font-family: "work sans", sans-serif;
  font-weight: 500 ;
}

#tulis-testimoni input{
 box-shadow: 0 0 3px rgb(81, 71, 71);
}

#tulis-testimoni textarea{
  box-shadow: 0 0 3px rgb(81, 71, 71);
}

#nama-testimoni{
  border: solid 0.1px rgb(214, 200, 200);
  border-radius: 5px;
  width: 40%;
}

#textarea-testimoni{
  border: solid 0.1px rgb(214, 200, 200);
  border-radius: 5px;
  width: 40%;
}

#tulis-testimoni .btn-kirim{
  background-color: rgb(94, 94, 246);
  position: relative;
  left: 36.6%;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 3px black;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

#tulis-testimoni .alert{
  width: 40%;
}

 #tulis-testimoni .btn-kirm:hover{
  transform: scale(1.1);
  box-shadow: 0 0 5px black ;
 }

#tulis-testimoni .btn-loading{
  background-color: rgb(94, 94, 246);
  position: relative;
  left: 33%;
  border: none;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 3px black;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
 

/* akhir testimoni-page.html */



/* akhir testimoni */


/* ------------------------------------------------------------------------------------ */



/* galeri */
#galeri{
  min-height: 230vh;
  padding-top: 6rem;
}

#galeri .container h2{
  font-weight: bold;
  padding-bottom: 3rem;
}

#galeri p{
  font-family: 'work sans', sans-serif;
}

#galeri .container h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#galeri .container h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

 #galeri .container h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}




#galeri .carousel-caption p{
  color: rgb(255, 255, 255);
  font-weight: 400;
  background-color: rgba(12, 11, 11, 0.474);
  border-radius: 5px 5px 5px 5px;
}


#galeri .card{
  height: auto;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 6px #1b1a1a;
  color: white;
  transition: all 0.2s ease-in-out;
}



#galeri .card:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgb(26, 25, 25);
}


#galeri .card-body{
  /* background-image:url("img/galeri/bg_galeri2.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:scroll; */
  background: linear-gradient(45deg, #080808, #02387f, rgba(254, 4, 4, 0.844));
  animation: background-color 5s ease infinite;
  background-size: 400% 400%;
  color: rgb(255, 255, 255);
}
@keyframes background-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }

}



#galeri .card-body h5{
  font-size: 18px;
}


.btn-galeri{
  position: relative;
  font-size: 18px;
  top: 25px;
  padding: 10px;
  left: 56rem;
  text-decoration: none;
  background-color: rgb(99, 99, 202);
  width: 50%;
  border-radius:5px;
  color: white;
  box-shadow: 0 0 5px rgb(76, 69, 69);
}

.btn-galeri:hover{
  transform: scale(1.1);
  color: white;
  box-shadow: 0px 0px 9px rgb(50, 48, 48);
}


/* akhir galeri */

/* ----------------------------------------------------------------------------- */

/* kontak */
#kontak{
  min-height: 700px;  
  padding-top: 40px;
  background-color: hwb(0 4% 96% / 0.82);
  color: white;
  backdrop-filter: blur(10px);
}

#kontak hr{
  border: 1px solid white;
}


#kontak .kontak_pribadi{
  margin-left: 5rem;
}
#kontak .sosmed{
  padding-top: 2rem;
  margin-left: 5rem;
}
#kontak .alamat{
  padding-top: 2rem;
  margin-left: 5rem;
}

/* akhir kontak */


/* ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */


/* widget whatsapp */
#btn-whatsapp{
  position:fixed;
  bottom: 70px;
  right: 17px;
  border: none;
  border-width: 20px;
  border-radius: 10px;
  background-color: #25D366;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.3s all ease-in-out;
}

#btn-whatsapp a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family:arial;
}

#btn-whatsapp:hover{
  color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #25D366;
  
}

#btn-whatsapp img{
  width: 40px;
}

/* akhir widget whatsapp */

/* --------------------------------------------------------------- */

/* button back to top */
.to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none ;
  z-index: 999;
}

.to-top img {
  width: 35px;
  transition: transform 0.3s;
}

.to-top:hover img {
  transform: rotate(360deg);
}




/* akhir button */

/* --------------------------------------------------------------- */



/* akhir tampilan desktop */



/* -----------------------------------------//----------------------------------------------- */


/* tampilan mobile */

@media only screen and (max-width: 768px){
  /* tampilan mobile */

  /* ------------------------------------------------------------ */

/* navbar */
html, body{
font-size: 12px;
}
.navbar-brand img{
  width: 200px;
  margin-left: 5px;
}

.navbar-toggler span i{
  font-size: 26px;
  color: black;
}

.navbar-toggler span{
  position: relative;
  display: block;
  font-size: 15px;
  z-index: 1;
}

.navbar-nav a{
  font-size: 12px;
  padding: 5px;
}
/* akhir navbar */

/* ----------------------------------------------------------------------------------- */

/* jumbotron */
.jumbotron{
  padding-top: 12rem;
  min-height:300px;
  color: white;
  background: linear-gradient(45deg, #f8f1cd, #3776dc,rgb(150, 0, 0));
  animation: background-color 5s ease infinite;
  background-size: 400% 400%;
  color: rgb(0, 0, 0);
}
@keyframes background-color {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.jumbotron h2{
font-size: 16px;
font-family:Verdana, Geneva, Tahoma, sans-serif;
font-weight: 600;
margin-left: -10px;
color: white;
}
.jumbotron h1{
padding:0px;
font-size: 32px;
font-family: 'Mitr', sans-serif;
margin-bottom: 0;
margin-left: -10px;

}

.jumbotron p{
  font-size: 8px;
  font-family: Arial, Helvetica, sans-serif;
  color: #c7c7c7;
  font-weight: 300;
  margin-left: -10px;
}
/* akhir jumbotron  */

/* -------------------------------------------------------------- */

/* tentang */

#tentang{
  min-height:110vh;
}

#tentang .visi, .misi{
  font-size: 10px;
  display:grid;
}

.col-6 {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.visi p{
  margin-top: -150px;
}

.misi h4{
margin-bottom: 15px;
}



/* akhir tentang */

/* ------------------------------------------------------------ */


/* kursus */
#kursus{
  min-height: 180rem;
}

.jumbotron-kursus{
  padding: 50px;
  margin-top:10px ;
}

.jumbotron-kursus h1{
 padding-top: 50px;
 font-size: 30px;
}

.jumbotron-kursus p{
 font-size: 14px;
}


.jumbotron-kursus-jumbotron{
  transition: all 5s ease-in-out;
}

.btn-kursus-jumbotron:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(112, 107, 107, 0.643);
}

#kursus .card{
  width: 250px;
  height: 360px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #5e5c5c;
  overflow: hidden;
}

#kursus .kursus-card img{
  height: 18rem;
}

#kursus .kursus-card{
  margin-right: auto;
  margin-left: auto;
  gap: 50px;
  justify-content: center;
  display: grid;
}

#kursus .card p{
  font-size: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  
}




#kursus .card.card_4{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 200px;
}

#kursus .btn-kursus-page{
  position: relative;
  left: 290px;
  font-size: 12px;
}

.text-berjalan{
  font-size: 14px;
  padding: 8px;
}

/* akhir kursus */

/* ------------------------------------------------------------------- */

/* testimoni */
#testimoni{
  background-size:cover;
  background-position: 90%;
  background-attachment: fixed;
}

#testimoni .testimoni-img{
  width: 130px;
}

#testimoni .carousel-item h4{
  font-size: 12px;
  line-height: 1.375em;
  width: auto;
  font-weight:500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: middle;
  margin: 70px 0;
}

#testimoni .container h2::after{
  background-color: #434edf;
}

#testimoni .carousel-indicators button{
  background-color: rgba(104, 59, 59, 0.653);
  border-radius: 100%;
  height: 10px;
  width: 8px; 
}


#testimoni .btn-testimoni{
  position: relative;
  left: 260px;
  bottom: -70px;
  font-size: 12px;
}


/* testimoni-page.html  */


#tulis-testimoni{
  left: 20%;
  position: relative;
  justify-content: center;
}
#tulis-testimoni label{
  text-align: start;
  font-size: 14px;
  font-family: "work sans", sans-serif;
  font-weight: 400;
}

#nama-testimoni{
  border: solid 0.1px rgb(214, 200, 200);
  border-radius: 5px;
  width: 60%;
}

#textarea-testimoni{
  border: solid 0.1px rgb(214, 200, 200);
  border-radius: 5px;
  width: 60%;
}


#tulis-testimoni .alert{
  width: 60%;
}

#tulis-testimoni .btn-kirim{
  left: 50%;
}

#tulis-testimoni .btn-loading{
  left: 40.1%;
}
/* akhir testimoni-page.html */


/* akhir testimoni  */

/* ----------------------------------------------------------------- */

/* galeri  */
#galeri .galeri-card .card{
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
}

#galeri .card{
  width: 300px;
}

#galeri .card-body h5{
  font-size: 12px;
}

#galeri .card-body p{
  font-size: 12px;
}

#galeri .btn-galeri{
  position: relative;
  left: 275px;
  font-size: 12px;
  padding: 5px;
}


/* akhir galeri */

/* ----------------------------------------------------------------- */


/* kontak & footer*/
#kontak{
  margin-top: 60px;
  padding-top: 0px;
}
#kontak .kontak_pribadi{
  margin-left: -10px;
  font-size: 14px;
}

#kontak .sosmed{
  margin-left: -10px;
  font-size: 14px;
}

#kontak .alamat{
  margin-left: -10px;
  font-size: 14px;
}

#kontak .alamat iframe{
  width: 100%;
  height: 300px;
}

/* footer */
.footer{
  margin-left: -20px;
 justify-content: center;
}
/* akhir footer */


/* kontak & footer */

/* --------------------------------------------------------------- */


/* widged whatsapp & back to top */
#btn-whatsapp{
  box-shadow: 0 0 10px rgb(60, 54, 54);
}

#btn-whatsapp img{
  width: 20px;
}
#btn-whatsapp a{
  font-size: 14px;
}

.to-top{
  bottom: 30px;
}
.to-top img{
  width: 30px;
}


/* akhir widged whatsapp & back to top */

/* ---------------------------------------------------------------- */
}

/* akhir tampilan mobile */

/* ------------------------------------------//--------------------------------------------- */