html, body{
    font-size: 20px;
    font-family: arial, helvetica;
    overflow-x: hidden;
}

/* tampilan desktop */

/* navbar */
.navbar{
    background-color: white;
}
.navbar-brand img{
    width: 260px;
    margin-left: 1rem;

}

.navbar-nav{
    padding-right: 5rem;
    font-size: 18px;
    font-family: arial,Arial, Helvetica, sans-serif;
}
.navbar-nav a{
    color: rgb(73, 73, 64);
    font-weight:500;

}

.navbar-nav a:hover{
  color: rgb(9, 102, 242);
  background-color: rgba(141, 130, 130, 0.115);
  border-radius: 5px;
}

.nav-link.active {
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(70, 57, 57, 0.464);
  background: linear-gradient(45deg, #f1025e91, #1466d191, #0cbb6a8e, rgba(255, 234, 0, 0.557));
  animation: background-color 5s ease infinite;
  background-size: 400% 400%;
  color: rgb(0, 0, 0);
}
@keyframes background-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



/* akhir navbar */

/* jumbotron */
.jumbotron{
    padding-top: 10rem;
    min-height:500px;
    background-image: url("img/bg-jumbotron/bg2.png");
    background-size:cover;
    background-attachment:fixed;
    background-position: 0px -4rem;
    color: white;
    padding-left: 3rem;
}
.jumbotron h2{
  font-size: 30px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  margin-bottom: 0;
}
.jumbotron h1{
  padding:0px;
  font-size: 80px;
  font-family: 'Mitr', sans-serif;
  margin-bottom: 0;
 
}



.jumbotron p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4b3636;
    font-weight: 600;
}

.media_mandiri{
    color:rgb(12, 22, 139);
}
.citra{
    color: rgb(198, 8, 8);
}

/* akhir jumbotron */



/* tentang */
#tentang .container{
    min-height: 600px;
    padding-top: 2rem;
}

#tentang .container h2{
  font-weight: bold;
  
  
}
.tentang p{
  text-align: justify;
  padding-top: 1.5rem;
}
.tentang h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.tentang h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

 .tentang h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.tentang h3{
  font-weight: bold;
}
/* motto */
.motto{
  animation-name: text-color;
  animation-duration: 3s; /* Durasi animasi selama 3 detik */
  animation-iteration-count: infinite; /* Ulangi animasi sepanjang waktu */
}

/* Animasi warna */
@keyframes text-color {
  0% {
    color: rgb(255, 0, 0); /* Warna merah */
  }
  50% {
    color: rgb(40, 217, 31); /* Warna kuning */
  }
  100% {
    color: rgb(0, 0, 255); /* Warna biru */
  }
}

/* akhir motto */

/* akhir tentang */

/* kursus */
#kursus .container{
  min-height: 130rem;
  padding-top: 6rem;
}

#kursus .container h2{
  font-weight: bold;
}
#kursus h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#kursus h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

 #kursus h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}


#kursus .card{
  height: 580px;
  cursor: pointer;
  box-shadow: 0px 0px 10px #5e5c5c;
  overflow: hidden;
}

#kursus .card p{
  font-size: 16px;
  text-overflow: ellipsis;
  overflow: hidden;
  
}


#kursus .btn{
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  transition: all 0.3s ease-in-out;
}

#kursus .btn:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background-color: #f1c40f;
  
}
.card_1 .btn{
    background-color: rgb(73, 93, 185);
    color: white;
    font-weight: 500;

}

.card_2 .btn{
    background-color: rgb(15, 126, 72);
    color: white;
    font-weight: 500;
}
.card_3 .btn{
    background-color: rgb(209, 86, 33);
    color: white;
    font-weight: 500;
}
.card_4 .btn{
    background-color: #a80a6b;
    color: white;
    font-weight: 500;
}

#kursus h4{
  font-family: arial,helvetica;
}



#kursus .card.card_4{
  width: 100%;
  padding: 0;
  margin: 0;
  height: 400px;
}

#kursus .card.card_4 .card-header{
  background: linear-gradient(45deg, #db0f5d, #1466d1, #1b6a45, rgb(255, 72, 0));
  animation: background-color 5s ease infinite;
  background-size: 400% 400%;
  color: rgb(0, 0, 0);
}
@keyframes background-color {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#kursus .card.card_4 .card-body{
  background-image: url("img/program_kursus/bg_card4.jpg");
  background-size: cover;
}

/* table */
table{
  border-radius: 10px;
  border: solid 1px rgb(58, 56, 56);
  font-family: arial;
  
}
thead tr{
  background-color: #f09323;
}
tbody tr{ 
background-color: #ffffff;
}
/* akhir table */


/* akhir kursus */

/* testimoni */

#testimoni{
  min-height: 500px;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, .2); 
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .15);
  background-image: url("img/testimoni/bg3.png");
  background-size: cover;
  background-attachment:fixed;
  backdrop-filter: blur(5px);
}

#testimoni .container h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#testimoni .container h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

 #testimoni .container h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}



/* style testimoni carousel */
#testimoni .testimoni-img{
  margin:0 1em 0 1em;
  border-radius:100%;
  width:150px;
}

#testimoni .carousel-item{
  transition: all 0.8s ease-in-out;
}
#testimoni .carousel-item h4{
  font-size: 22px;
  line-height: 1.375em;
  width: auto;
  font-weight:500;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: middle;
  margin: 70px 0;
}
#testimoni .carousel-item span{
  font-weight: bold;
}

#testimoni .carousel-indicators button{
  background-color: rgba(104, 59, 59, 0.653);
  border-radius: 100%;
  height: 12px;
  width: 15px; 
}
#testimoni .carousel-indicators .active{
  background-color: rgb(157, 48, 8);
}


.btn-testimoni{
  position: relative;
  font-size: 18px;
  left: 75rem;
  bottom: 5px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: solid 1px rgb(143, 135, 135);
  background-color: rgba(9, 9, 9, 0.692);
  border-radius: 6px;
  padding: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-testimoni:hover{
  color: white ;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgb(70, 71, 74);
  
}



/* akhir testimoni carousel */

/* akhir testimoni */



/* galeri */
#galeri{
  min-height: 90rem;
  padding-top: 6rem;
}

#galeri .container h2{
  font-weight: bold;
  padding-bottom: 3rem;

}

#galeri .container h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#galeri .container h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

 #galeri .container h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}




#galeri .carousel-caption p{
  color: rgb(255, 255, 255);
  font-weight: 400;
  background-color: rgba(12, 11, 11, 0.474);
  border-radius: 5px 5px 5px 5px;
}


#galeri .card{
  height: auto;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 0px 6px #1b1a1a;
  color: white;
  transition: all 0.2s ease-in-out;
}


#galeri .card:hover{
  transform: scale(1.1);
  box-shadow: 0px 0px 5px rgb(26, 25, 25);
}


#galeri .card-body{
  background-image:url("img/galeri/bg_galeri.png");
  background-size: cover;
}
#galeri .card-body h5{
  font-size: 18px;
}


.btn-galeri{
  position: relative;
  font-size: 18px;
  top: 25px;
  padding: 5px;
  left: 56.5rem;
  border: solid 1px rgb(78, 73, 73);
  border-radius: 5px;
  box-shadow: 0px 0px 5px rgba(101, 97, 97, 0.871);
  color: white;
  text-decoration: none;
  background-color: rgba(16, 47, 101, 0.997); 
  transition: all 0.2s ease-in-out;
}

.btn-galeri:hover{
  transform: scale(1.1);
  color: white;
  box-shadow: 0px 0px 9px rgb(50, 48, 48);
}


/* akhir galeri */

/* kontak */
#kontak{
  min-height: 700px;  
  padding-top: 40px;
  background-color: hwb(0 4% 96% / 0.82);
  color: white;
  backdrop-filter: blur(10px);
}

#kontak hr{
  border: 1px solid white;
}


#kontak .kontak_pribadi{
  margin-left: 5rem;
}
#kontak .sosmed{
  padding-top: 2rem;
  margin-left: 5rem;
}
#kontak .alamat{
  padding-top: 2rem;
  margin-left: 5rem;
}

/* akhir kontak */



/* widget whatsapp */
#btn-whatsapp{
  position:fixed;
  bottom: 70px;
  right: 17px;
  border: none;
  border-width: 20px;
  border-radius: 10px;
  background-color: #25D366;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: 0.3s all ease-in-out;
}

#btn-whatsapp a{
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-family:arial;
}

#btn-whatsapp:hover{
  color: white;
  transform: scale(1.1);
  box-shadow: 0px 0px 5px #25D366;
  
}

#btn-whatsapp img{
  width: 40px;
}

/* akhir widget whatsapp */

/* button back to top */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.back-to-top img{
 width: 35px;
}

.back-to-top:hover {
  cursor: pointer;
}

.show-back-to-top {
  display: block;
}

/* akhir button */



/* akhir tampilan desktop */






/* tampilan mobile */


/* akhir tampilan mobile */